#include "resource.h"

ResVertexShader_CopyTexture          TEXT        "CopyTexture.vert.glsl"
ResFragmentShader_CopyTexture        TEXT        "CopyTexture.frag.glsl"
ResVertexShader_ToneMap              TEXT        "ToneMap.vert.glsl"
ResFragmentShader_ToneMap            TEXT        "ToneMap.frag.glsl"
ResVertexShader_Im3d                 TEXT        "Im3d.vert.glsl"
ResFragmentShader_Im3d               TEXT        "Im3d.frag.glsl"
ResIcon_ExeIcon                      ICON        "ExeIcon.ico"
ResRawData_WindowIcon                TEXT        "WindowIcon.png"
ResVertexShader_Billboard            TEXT        "Billboard.vert.glsl"
ResFragmentShader_Billboard          TEXT        "Billboard.frag.glsl"
ResRawData_LightBulb                 TEXT        "lightbulb.png"