#include "resource.h"

ResVertexShader_CopyTexture          TEXT        "CopyTexture.vert.glsl"
ResFragmentShader_CopyTexture        TEXT        "CopyTexture.frag.glsl"
ResVertexShader_ToneMap              TEXT        "ToneMap.vert.glsl"
ResFragmentShader_ToneMap            TEXT        "ToneMap.frag.glsl"
